### Homework Rakamin Trial Class - Mini Case

In [1]:
import pandas as pd
import numpy as np

# Mengukur Performa Penjualan Ritel Online

## Load Data

In [2]:
## KOLOM 1
dframe = pd.read_csv("online_retail_II.csv")
dframe

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France

In [3]:
## KOLOM 2
dframe.describe().round(3).T

,count,mean,std,min,25%,50%,75%,max
Quantity,1067371.0,9.939,172.706,-80995.00,1.00,3.0,10.00,80995.0
Price,1067371.0,4.649,123.553,-53594.36,1.25,2.1,4.15,38970.0
Customer ID,824364.0,15324.639,1697.464,12346.00,13975.00,15255.0,16797.00,18287.0

In [4]:
## KOLOM 3
dframe[dframe['Price'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
179403,A506401,B,Adjust bad debt,1,2010-04-29 13:36:00,-53594.36,NaN,United Kingdom
276274,A516228,B,Adjust bad debt,1,2010-07-19 11:24:00,-44031.79,NaN,United Kingdom
403472,A528059,B,Adjust bad debt,1,2010-10-20 12:04:00,-38925.87,NaN,United Kingdom
825444,A563186,B,Adjust bad debt,1,2011-08-12 14:51:00,-11062.06,NaN,United Kingdom
825445,A563187,B,Adjust bad debt,1,2011-08-12 14:52:00,-11062.06,NaN,United Kingdom

In [5]:
## KOLOM 4
dframe[dframe['Quantity'] < 0]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia
...,...,...,...,...,...,...,...,...
1065910,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom
1067002,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom
1067176,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom
1067177,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom
1067178,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom

In [6]:
## KOLOM 5
dframe.shape

(1067371, 8)

## Section 1

### Create New Feature: Year

In [7]:
dframe['Year'] = pd.DatetimeIndex(dframe['InvoiceDate']).year
#dframe['Year']

### Filtering Data

### Create New Feature: Revenue

In [8]:
dframe['Revenue'] = dframe['Price'] * dframe['Quantity']
#dframe['Revenue']

### Average of Revenue per Year

In [9]:
avg_revenue = dframe.groupby('Year').aggregate({"Revenue": lambda Revenue: Revenue.sum()})
# avg_revenue

### Interpretation

1. Pada Section 'Load Data' dilakukan import data csv dan pengecekan atribut-atribut, serta jumlah/banyak pada data
2. Pada Section 'Load Data' juga dilakukan pengecekan lokasi data yang hilang dan atau data yang memiliki nilai tidak wajar (contoh: Harga dan Kuantitas Barang yang negatif)
3. Pada Section 'Load Data' ditemukan bahwa ada beberapa data yang memiliki kode invoice khusus
4. untuk data 'Bad Debt' atau hutang dideskripsikan dengan tambahan karakter string 'A' di kode invoicenya. adapun data dengan Purchase Cancellation ditandai oleh karakter string 'C'
5. Pada Section 1 : **Create New Feature : Year** dilakukan penambahan kolom pada data original dengan mengambil tahun dari data bertipe DateTime di atribut **Invoice Date**.
6. Pada Section 1 : **Create New Feature : Revenue** dilakukan penambahan kolom pada data original dengan mengkalikan tiap harga barang **Price** dengan **Quantity**nya
7. Pada Section 1 : **Avg Revenue Per Year** dilakukan dengan menampilkan summary dari revenue/pendapatan pertahun dengan agregasi kolom revenue dengan SUM dan pengelompokan berdasarkan tahun.

## Section 2

### Filtering Data

#### Customers who finished their purchases

In [10]:
dframe[(dframe['Invoice'].str.contains('A') == False) & (dframe['Invoice'].str.contains('C') == False) ]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year,Revenue
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009,83.40
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009,81.00
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009,81.00
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009,100.80
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009,30.00
...,...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011,12.60
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011,16.60
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011,16.60
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011,14.85
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,2011,18.00

#### Customers who canceled their purchases

In [11]:
dframe[(dframe['Invoice'].str.contains('C') == True)]

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year,Revenue
178,C489449,22087,PAPER BUNTING WHITE LACE,-12,2009-12-01 10:33:00,2.95,16321.0,Australia,2009,-35.40
179,C489449,85206A,CREAM FELT EASTER EGG BASKET,-6,2009-12-01 10:33:00,1.65,16321.0,Australia,2009,-9.90
180,C489449,21895,POTTING SHED SOW 'N' GROW SET,-4,2009-12-01 10:33:00,4.25,16321.0,Australia,2009,-17.00
181,C489449,21896,POTTING SHED TWINE,-6,2009-12-01 10:33:00,2.10,16321.0,Australia,2009,-12.60
182,C489449,22083,PAPER CHAIN KIT RETRO SPOT,-12,2009-12-01 10:33:00,2.95,16321.0,Australia,2009,-35.40
...,...,...,...,...,...,...,...,...,...,...
1065910,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,2011-12-09 09:57:00,0.83,14397.0,United Kingdom,2011,-9.13
1067002,C581499,M,Manual,-1,2011-12-09 10:28:00,224.69,15498.0,United Kingdom,2011,-224.69
1067176,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,2011-12-09 11:57:00,10.95,15311.0,United Kingdom,2011,-54.75
1067177,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,2011,-1.25
1067178,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,2011-12-09 11:58:00,1.25,17315.0,United Kingdom,2011,-6.25

### Number of Finished and Canceled Transactions Each Year

In [12]:
conditions = [
    (dframe['Invoice'].str.contains('A') == True),
    (dframe['Invoice'].str.contains('C') == True)]
choices = ['Adjust Debt', 'Cancelled']
dframe['Status'] = np.select(conditions, choices, default='Finished')
dframe

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer ID,Country,Year,Revenue,Status
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,6.95,13085.0,United Kingdom,2009,83.40,Finished
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009,81.00,Finished
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,6.75,13085.0,United Kingdom,2009,81.00,Finished
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,2.10,13085.0,United Kingdom,2009,100.80,Finished
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,1.25,13085.0,United Kingdom,2009,30.00,Finished
...,...,...,...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France,2011,12.60,Finished
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France,2011,16.60,Finished
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France,2011,16.60,Finished
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France,2011,14.85,Finished
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,18.00,12680.0,France,2011,18.00,Finished

In [37]:
dframe.groupby(['Status', 'Year'])['Invoice'].count()[2:]

Status     Year
Cancelled  2009      1015
           2010      9919
           2011      8560
Finished   2009     44213
           2010    512792
           2011    490866
Name: Invoice, dtype: int64

### Cancellation Rate

In [70]:
# cancel/total_invoice * 100%

cancel_amount = dframe.groupby(dframe['Status'] == 'Cancelled')["Invoice"].nunique()[1:]
total_invoice = dframe["Invoice"].nunique()

C_Rate = int(cancel_amount)/int(total_invoice)

print(f"{C_Rate:.0%}")

15%

### Interpretation

1. Seperti yang telah diketahui dalam **Section 1** untuk mencari data In-Debt, Finished atau Cancelled bisa diekstrak melalui kode invoice.
2. **Section 2: Customers who had purchased** Pada pencarian data customer yang sudah melunasi transaksi bisa dilakukan pengecualian visualisasi terhadap data 'Cancelled' dan 'In-Debt'
3. **Section 2: Customers who canceled their purchases** bisa dilakukan dengan langsung mengambil karakter C pada kode invoice
4. **Section 2: Number of Finished and Canceled Transactions Each Year** Pada seleksi data antara 'Cancelled dan Finish' bisa dilakukan excluding terhadap data 'In-Debt' dengan manipulasi Array python terhadap hasil query
5. **Section 2 : Cancellation Rate** dapat dilakukan dengan rumus handcoded dengan menghitung jumlah invoice secara unik dari keseluruhan transaksi dibatalkan dibagi dengan jumlah transaksi keseluruhan dan dikalikan dengan 100%.